@base-font-face: 'Lato', sans-serif;

@base-color:#2185C5;
@base-color-light:lighten(@base-color, 40%);
@base-color-lighter:lighten(@base-color, 45%);
@base-color-very-light: lighten(@base-color, 50%);
@base-color-lightest: lighten(@base-color, 55%);

@secondary-color:#595963;
@background-color:#fff;