@base-font-face: 'Lato', sans-serif;

////////////////////////////
// BLUE & DARK BLACK
////////////////////////////

// base
@base-color:#2185C5;
@base-color-light:lighten(@base-color, 40%);
@base-color-lighter:lighten(@base-color, 45%);
@base-color-very-light: lighten(@base-color, 50%);
@base-color-lightest: lighten(@base-color, 55%);
@secondary-color:#000;
@background-color:#fff;

@panel-font-color:#f2f2f2;
@panel-bg-color:darken(@background-color, 5%);
@panel-border-color:darken(@background-color, 10%);
@panel-item-hover-color:darken(@background-color, 3%);

// top bar
@top-bar-background-color:transparent;
@top-bar-border-bottom-color:darken(@background-color, 10%);
@top-bar-font-color:@base-color;

@logo-color:@base-color;

// tree
@tree-depth-1-font-color:@secondary-color;
@search-color:#ccc;
@bullet-color:@base-color;
@children-outline-color:darken(@background-color, 10%);

