.intellisense-container {

  .highlighter {
    line-height:inherit;
    font-size:inherit;
    display:block;
    background-color: transparent;
    font-family: inherit;
    color:transparent;
    white-space: pre-wrap;
    word-wrap: break-word;

    span:not(.caret) {
      visibility: hidden;
    }
    strong.tag {
      font-weight:inherit;
      background-color:lighten(@base-color, 35%);
    }

  }

  textarea {
    width: 100%;
    resize: none;
    border: 0 none;
    padding:0;
    outline: none;
    font-size:inherit;
    line-height:inherit;
    background: transparent;
    position: absolute;
    font-family: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .intellisense-suggestion-box {
    z-index:3;
    background-color:@base-color;
    color:@background-color;
    position: absolute;
    top:50px; // TODO: set based on cursor position 
    left:50px; // TODO: set based on cursor position
    width:200px;
    
    ul.suggestions {
      margin:0;
      padding:0;

      li.suggestion {
        font-size:1.2em;
        list-style: none;
        padding:6px;

        &.selected {
          background-color:lighten(@base-color, 10%)
        }
      }
    }
  }

}