//////////////////////////////////
//      sizing calculations     //
//////////////////////////////////

@depth-scale: 1.250; 

////////////////////
// depth 1 sizing //
////////////////////

@node-depth-1-indendation: 60px;
@node-depth-1-left-content-pad: @node-depth-1-indendation / @depth-scale;
@node-depth-1-line-height: @node-depth-1-indendation;
@node-depth-1-font-size: 1.8em;

// bullet icon inner circle
@node-depth-1-bullet-icon-inner-circle-diameter: 10px;
@node-depth-1-bullet-icon-inner-circle-diameter-no-children: @node-depth-1-bullet-icon-inner-circle-diameter * 1.2;

// bullet icon outer circle
@node-depth-1-bullet-icon-outer-circle-diameter: 20px;
@node-depth-1-bullet-icon-outer-circle-top: (@node-depth-1-line-height / 2) - (@node-depth-1-bullet-icon-outer-circle-diameter / 2);
@node-depth-1-bullet-icon-outer-circle-left: 0;
@node-depth-1-bullet-icon-inner-circle-top: 1 + (@node-depth-1-line-height / 2) - (@node-depth-1-bullet-icon-inner-circle-diameter / 2);
@node-depth-1-bullet-icon-inner-circle-left: 1 + (@node-depth-1-bullet-icon-outer-circle-diameter / 2) - (@node-depth-1-bullet-icon-inner-circle-diameter / 2);

// no vertices for depth 1

////////////////////
// depth 2 sizing //
////////////////////

@node-depth-2-indendation: @node-depth-1-indendation / @depth-scale;
@node-depth-2-left-content-pad: @node-depth-1-indendation / @depth-scale;
@node-depth-2-line-height: @node-depth-1-line-height / @depth-scale;
@node-depth-2-font-size: @node-depth-1-font-size / @depth-scale;

// bullet icon inner circle
@node-depth-2-bullet-icon-inner-circle-diameter: @node-depth-1-bullet-icon-inner-circle-diameter / @depth-scale;
@node-depth-2-bullet-icon-inner-circle-diameter-no-children: @node-depth-2-bullet-icon-inner-circle-diameter * 1.2;
@node-depth-2-bullet-icon-inner-circle-top: @node-depth-1-bullet-icon-inner-circle-top / @depth-scale;
@node-depth-2-bullet-icon-inner-circle-left: @node-depth-1-bullet-icon-inner-circle-left / @depth-scale;

// bullet icon outer circle
@node-depth-2-bullet-icon-outer-circle-diameter: @node-depth-1-bullet-icon-outer-circle-diameter / @depth-scale;
@node-depth-2-bullet-icon-outer-circle-top: @node-depth-1-bullet-icon-outer-circle-top / @depth-scale;
@node-depth-2-bullet-icon-outer-circle-left: 0;

// vertices
@node-depth-2-vertical-vertex-left: -1 * (@node-depth-1-indendation - @node-depth-1-bullet-icon-outer-circle-diameter - 2); // -2 for border
@node-depth-2-horizontal-vertex-left: @node-depth-2-vertical-vertex-left;
@node-depth-2-horizontal-vertex-width: @node-depth-2-indendation / 2;
@node-depth-2-horizontal-vertex-top: @node-depth-2-indendation / 2;

///////////////////////////////
// depth 3 and beyond sizing //
///////////////////////////////

@node-depth-3-indendation: @node-depth-2-indendation / @depth-scale;
@node-depth-3-left-content-pad: @node-depth-2-indendation / @depth-scale;
@node-depth-3-line-height: @node-depth-2-line-height / @depth-scale;
@node-depth-3-font-size: @node-depth-2-font-size / @depth-scale;

// need to round down the sizes. Shapes with decimal pixels look distorted

@node-depth-3-bullet-icon-inner-circle-diameter: floor(@node-depth-2-bullet-icon-inner-circle-diameter / @depth-scale);
@node-depth-3-bullet-icon-inner-circle-diameter-no-children: floor(@node-depth-3-bullet-icon-inner-circle-diameter * 1.2);

@node-depth-3-bullet-icon-outer-circle-diameter: floor(@node-depth-2-bullet-icon-outer-circle-diameter / @depth-scale);
@node-depth-3-bullet-icon-outer-circle-top: floor(@node-depth-2-bullet-icon-outer-circle-top / @depth-scale);
@node-depth-3-bullet-icon-outer-circle-left: 0;
@node-depth-3-bullet-icon-inner-circle-top: floor(@node-depth-2-bullet-icon-inner-circle-top / @depth-scale);
@node-depth-3-bullet-icon-inner-circle-left: @node-depth-2-bullet-icon-inner-circle-left / @depth-scale;

// vertices
@node-depth-3-vertical-vertex-left: @node-depth-2-vertical-vertex-left / @depth-scale;
@node-depth-3-horizontal-vertex-left: @node-depth-2-horizontal-vertex-left / @depth-scale;
@node-depth-3-horizontal-vertex-width: @node-depth-2-horizontal-vertex-left / @depth-scale;
@node-depth-3-horizontal-vertex-top: @node-depth-2-horizontal-vertex-top / @depth-scale;

//////////////////////////////////
//////////////////////////////////

.node {
  position: relative;
}

.depth {
  cursor: text;
}

//////////////
// vertices //
//////////////

.children .node { // depth 1

  // no vertices for depth 1

  .children .node { // depth 2
    .vertex-horizontal {
        height:1px;
        position: absolute;
        width:100%;
        background-color:lighten(@secondary-color, 80%);
        top: @node-depth-2-horizontal-vertex-top;
        left: @node-depth-2-horizontal-vertex-left;
        width: @node-depth-2-horizontal-vertex-width;
      }
      .vertex-vertical {
        width:1px;
        height:100%;
        position: absolute;
        background-color:lighten(@secondary-color, 80%);
        left:@node-depth-2-vertical-vertex-left;
        top:0px;
      }

      &:last-child {
        > .vertex-vertical {
          height:24px;
        }
      }

    .children .node { // depth 3+
      .vertex-horizontal {
        top: @node-depth-3-horizontal-vertex-top;
        left: @node-depth-3-horizontal-vertex-left;
        width: @node-depth-3-horizontal-vertex-width;
      }
      .vertex-vertical {
        left:@node-depth-3-vertical-vertex-left;
        top:0px;
      }

      &:last-child {
        > .vertex-vertical {
          height:19px;
        }
      }
    }
  }
}


////////////////////
// inline buttons //
////////////////////

.depth:hover > .inline-btn > .btn {
  visibility: visible !important;
}

.children .node { // depth 1

  .inline-btn {
    position:absolute;
    top: @node-depth-1-bullet-icon-outer-circle-top;
    width:24px;
    height:24px;
    left: -24px;

    .btn{
      visibility:hidden;
      width:@node-depth-1-bullet-icon-outer-circle-diameter;
      height:@node-depth-1-bullet-icon-outer-circle-diameter;
      position: absolute;
      color:@base-color;
      cursor:pointer;
      font-size:20px;
      cursor:pointer;
      border: 1px solid @base-color;
      border-radius: 50%;
    }

    &:hover .btn{
      visibility: visible !important;
    }
  }

  .children { // depth 2
    .inline-btn{
      top: @node-depth-2-bullet-icon-outer-circle-top;
      left:-25px;
      .btn{
        font-size:16px;
        width:@node-depth-2-bullet-icon-outer-circle-diameter;
        height:@node-depth-2-bullet-icon-outer-circle-diameter;
      }
    }
    .children { // depth 3
      .inline-btn{
        top: @node-depth-3-bullet-icon-outer-circle-top;
        left:-20px;
        .btn{
          font-size:12px;
          width:@node-depth-3-bullet-icon-outer-circle-diameter;
          height:@node-depth-3-bullet-icon-outer-circle-diameter;
        }
      }
    }
  }
}

///////////
// notes //
///////////

.children .node { // depth 1
  .notes {
    margin-left:@node-depth-1-left-content-pad;
    margin-bottom:@node-depth-1-left-content-pad / 4;
    padding:0;
    margin:0;
    color:lighten(@secondary-color, 50%);
    background: transparent;
    height: 100%;
    font-family: @base-font-face;
    font-size:1em;
    min-height:34px;

    code, a{
      color:lighten(@secondary-color, 50%);
    }
  }

  .children { // depth 2
    .notes {
      margin-left:@node-depth-2-left-content-pad;
      margin-bottom:@node-depth-2-left-content-pad / 4;
      font-size: .95em;
    }

    .children { // depth 3+
      .notes {
        margin-left:@node-depth-3-left-content-pad;
        margin-bottom:@node-depth-3-left-content-pad / 4;
        font-size:.85em;
      }
    }
  }
}

/////////////
// content //
/////////////

.children .node { // depth 1
  .content {
    cursor: text;
    line-height: @node-depth-1-line-height;
    min-height: @node-depth-1-line-height;
    width:100%;
    margin-left:@node-depth-2-left-content-pad;
    position: relative;
    font-size: @node-depth-1-font-size;
    color: @tree-depth-1-font-color;
    font-family: @base-font-face;

    .highlight {
      background-color:yellow;
      text-decoration: underline;
    }
  }

  &.ancestor-of-search-result > .depth {
    .content {
      color: lighten(@tree-depth-1-font-color, 80%);
    }
  }

  .children { // depth 2
    .content {
      line-height:@node-depth-2-line-height;
      min-height: @node-depth-2-line-height;
      margin-left:@node-depth-2-left-content-pad;
      font-size:@node-depth-2-font-size;

      .rendered-content, .plain-text-content {
        font-size:inherit;
        line-height:inherit;
      }
    }

    .children { // depth 3+
      .content {
        line-height:36px;
        min-height:36px;
        margin-left:@node-depth-3-left-content-pad;
        font-size:@node-depth-3-font-size;

        .rendered-content, .plain-text-content {
          font-size:inherit;
          line-height:inherit;
        }
      }
    }
  }

}

////////////////////
// depth of nodes //
////////////////////

.children .node {
  .children { // depth 2
    padding-left: @node-depth-2-indendation;

    &:after{
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

    .children { // depth 3
      padding-left: @node-depth-3-indendation;
    }
  }
}

///////////////////
// node content  //
///////////////////

.children .node {

  > .depth > .content .DraftEditor-root {
    .hashtag {
      color: @base-color;
      background-color: lighten(@base-color, 50%);
      padding:2px 4px 2px 4px;
      border-radius: 6px;
    }

    .editor-link {
      color: @base-color;
      text-decoration: underline;
      cursor: pointer;
    } 
  }

  &.selected {
    background-color:#E2E2E8;
  }

  &.hidden {
    display: none;
  }

  &.completed {
    > .depth > .content {
      color:lighten(@secondary-color, 90%) !important;
      text-decoration: line-through;

      .DraftEditor-root {
        .hashtag {
          color: lighten(@base-color, 40%);
          background-color: lighten(@base-color, 53%);
        }

        .editor-link {
          color: lighten(@base-color, 40%);
        } 
      }
    }
  }

  &.currentlySelected {
    position:absolute;
    left:0;
    top:0;
    background-color:@secondary-color;
    color:#fff;
    font-size:0.8em;
    
    > span {
        padding:2px 4px 2px 4px;
    }
  }
}

///////////////////
// drag and drop //
///////////////////

.children .node { // depth 1
  .depth.drag-over {
    border-bottom: 4px solid @base-color;
  }
  .drop-area {
    display:none;
    height:2px;
    width:100%;
    background-color:@base-color;
  }
}

/////////////////
// bullet icon //
/////////////////

.children .node { // depth 1

  .bullet-container {
    cursor:pointer;
    position: absolute;
    height:@node-depth-1-line-height;
    width:@node-depth-1-bullet-icon-outer-circle-diameter;

    &.dragging {
      cursor: move; /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
    }

    .pulse {
      animation: pulse 3s ease-out;
      animation-iteration-count: infinite;
      width: 40px;
      height: 40px;
      border: 5px solid @base-color;
      border-radius: 30px;
      background-color: transparent;
      z-index: 10;
      position: absolute;
      top: 7px;
      left: -13px;
    }

    @keyframes pulse {
      0% {
        transform: scale(0);
        opacity: 0.0;
      }
      25% {
        transform: scale(0);
        opacity: 0.1;
      }
      50% {
        transform: scale(0.1);
        opacity: 0.3;
      }
      75% {
        transform: scale(0.5);
        opacity: 0.5;
      }
      100% {
        transform: scale(1);
        opacity: 0.0;
      }
    }

    .inner-circle {
      border-radius: 50%;
      width: @node-depth-1-bullet-icon-inner-circle-diameter;
      height: @node-depth-1-bullet-icon-inner-circle-diameter;
      background-color:@bullet-color;
      position:absolute;
      top: @node-depth-1-bullet-icon-inner-circle-top;
      left: @node-depth-1-bullet-icon-inner-circle-left;
    }

    .outer-circle{
      border-radius: 50%;
      width: @node-depth-1-bullet-icon-outer-circle-diameter;
      height: @node-depth-1-bullet-icon-outer-circle-diameter;
      border:1px solid @bullet-color;
      position: absolute;
      top: @node-depth-1-bullet-icon-outer-circle-top;

      animation: explode 300ms ease-out;
      animation-iteration-count: 1;
      animation-delay: 0;

      @keyframes explode {
        0% {
          transform: scale(0);
        }
        25% {
          transform: scale(0.2);
        }
        50% {
          transform: scale(0.5);
        }
        75% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
      }
    }

    .number{
      color:@base-color;
      font-size:20px;
      font-weight:bold;
      top: 5px;
      left: 5px;
      position: absolute;
    }
  }

  &.no-children > .depth > .bullet-container {
    cursor: default;

    .outer-circle{
      display:none;
    }

    .inner-circle{
      width: 12px;
      height: 12px;
    }
  }

  &.has-children.collapsed > .depth > .bullet-container {
    cursor: pointer;

    .inner-circle{
      background-color:@background-color !important;
      z-index:1;
    }
    .outer-circle{
      background-color:@bullet-color !important;
      display:block;
    }
    .number{
      color:#fff;
    }
    .ordered-bullet {
      .number{
        top:13px;
        font-size:.95em;
      }
    }
  }

  &.ancestor-of-search-result.no-children > .depth > .bullet-container {
    .inner-circle {
      background-color:lighten(@bullet-color, 40%) !important;
    }
  }

  &.ancestor-of-search-result.has-children > .depth > .bullet-container {
    .inner-circle {
      background-color:lighten(@bullet-color, 40%) !important;
    }
    .outer-circle {
      border-color:lighten(@bullet-color, 40%) !important;
    }
  }

  .children .node { // depth 2
    .bullet-container {
      height:@node-depth-2-line-height;
      width:@node-depth-1-bullet-icon-outer-circle-diameter;

      .inner-circle{
        width: @node-depth-2-bullet-icon-inner-circle-diameter;
        height: @node-depth-2-bullet-icon-inner-circle-diameter;
        top: @node-depth-2-bullet-icon-inner-circle-top;
        left: @node-depth-2-bullet-icon-inner-circle-left;
      }

      .outer-circle{
        width: @node-depth-2-bullet-icon-outer-circle-diameter;
        height: @node-depth-2-bullet-icon-outer-circle-diameter;
        top: @node-depth-2-bullet-icon-outer-circle-top;
        left: @node-depth-2-bullet-icon-outer-circle-left;
      }
    }

    &.no-children > .depth > .bullet-container {
      .inner-circle{
        width: @node-depth-2-bullet-icon-inner-circle-diameter-no-children;
        height: @node-depth-2-bullet-icon-inner-circle-diameter-no-children;
      }
    }

    .children .node { // depth 3+
      .bullet-container {
        height:@node-depth-3-line-height;
        width:@node-depth-1-bullet-icon-outer-circle-diameter;

        .inner-circle{
          width: @node-depth-3-bullet-icon-inner-circle-diameter;
          height: @node-depth-3-bullet-icon-inner-circle-diameter;
          top: @node-depth-3-bullet-icon-inner-circle-top;
          left: @node-depth-3-bullet-icon-inner-circle-left;
        }

        .outer-circle {
          width: @node-depth-3-bullet-icon-outer-circle-diameter;
          height: @node-depth-3-bullet-icon-outer-circle-diameter;
          top: @node-depth-3-bullet-icon-outer-circle-top;
          left: @node-depth-3-bullet-icon-outer-circle-left;
        }

        .number {
          font-size:18px;
        }
      }

      &.no-children .bullet-container {
        .inner-circle {
          width: @node-depth-3-bullet-icon-inner-circle-diameter-no-children;
          height: @node-depth-3-bullet-icon-inner-circle-diameter-no-children;
        }
      }
    }
  }
}