@import "_mixins";

.top-bar{
    height:84px;
    margin-bottom:42px;
    padding-left:42px;
    padding-right:42px;
    background-color: @top-bar-background-color;
}

.top-bar .top-bar-left{
    float:left;
    width:auto;
}

.top-bar .top-bar-right{
    float:right;
    width:auto;
}

.top-bar .top-bar-right a{
    cursor:pointer;
}

.top-bar .top-bar-right a:hover{
    text-decoration: underline;
}

.top-bar ul{
    list-style-type: none;
    padding:0;
}

.top-bar li{
    position: relative;
    vertical-align: middle;
    outline:0;
    display:table-cell;
    font-size:20px;
    color:@top-bar-font-color;
}

.top-bar li a{
    padding:1.2em;
    line-height:2.6em;
}

.top-bar li .logo{
    font-family:'Lora', sans-serif;
    color:@logo-color;
}

.top-bar .menu li a, .top-bar .menu li i{
    font-size:16px;

    &.icon:hover{
        text-decoration: none;
    }
}

.top-bar li i{
    font-size:24px;
}

.top-bar li {
    @height:40px;
    @spacing:10px;
    @select-colour:#2875C7;
    @font-size:14px;
    @border-colour:#DDD;
        
    div.dropdown-container {
        &.show > div.dropdown-list {
            .transform(scale(1, 1));
        }

        @icon-width:14px;
                
        >div.dropdown-display {
            float:left;
            width:100%;
            background:white;
            height:@height;
            cursor:pointer;
            .box-sizing();

            >* {
                float:left;
                height:100%;
                .vertical-align(@height);
            }
            
            >span {
                font-size:@font-size;
                width:100%;
                position:relative;
                .box-sizing();
                padding-right:@icon-width+@spacing*2;
                padding-left:@spacing;
            }
            
            >i {
                position:relative;
                width:@icon-width;
                margin-left:(@spacing+@icon-width)*-1;
                font-size:1.125em;
                font-weight:bold;
                padding-right:@spacing;
                text-align:right;
            }
        }

        >div.dropdown-list {
            float:left;
            width:100%;
            position:relative;
            width:100%;
            .transform(scale(1, 0));
            .transition(-webkit-transform ease 250ms);
            .transition(transform ease 250ms);

            >div {
                position:absolute;
                width:100%;
                z-index:2;
                cursor:pointer;
                background:white;

                .item {
                    position:absolute;
                    float:left;
                    width:100%;
                    padding:0 @spacing;
                    font-size:@font-size;
                    .box-sizing();
                    border:solid 1px @border-colour;
                    border-top:none;

                    @icon-width:20px;

                    &:hover {
                        background:#F0F0F0;
                    }

                    &.selected {
                        background:@select-colour;
                        color:white;
                    }

                    // >* {
                    //     .vertical-align(@height);
                    // }

                    // .item {
                    //     position:absolute;
                    //     float:left;
                    //     width:300px;
                    // }
                }
            }
        }
    }
}

.top-bar .logo{
    font-size:30px;
}

.top-bar .search {
    position:relative;
    margin-right:20px;

    .icon{
        color:darken(@search-color, 30%);
    }

    .dripicons-search{
        position:absolute;
        right:8px;
        top:8px;
    }

    .dripicons-tags{
        position:absolute;
        transform: scaleX(-1);
        right:40px;
        top:8px;
    }

    input{
        margin-left:22px;
        border-radius: 4px;
        min-width:400px;
        border:1px solid @search-color;
        font-size:20px;
        padding:.2em;
        color:@base-color;
        outline-style:none;
        background-color:transparent;

        &:focus{
            border-color:@base-color;
        }
    }
}

.top-bar span {
    font-size:30px;
}