.top-bar{
    margin-bottom:30px;
    padding-left:40px;
    padding-right:40px;
}

.top-bar .top-bar-left{
    float:left;
    width:auto;
}

.top-bar .top-bar-right{
    float:right;
    width:auto;
}

.top-bar .top-bar-right a{
    cursor:pointer;
}

.top-bar .top-bar-right a:hover{
    text-decoration: underline;
}

.top-bar ul{
    list-style-type: none;
    padding:0;
}

.top-bar li{
    vertical-align: middle;
    outline:0;
    display:table-cell;
    font-size:20px;
    color:@base-color;
}

.top-bar li a, .top-bar li logo{
    padding:1.2em;
    line-height:1.8em;
}

.top-bar li i{
    font-size:24px;
}

.top-bar .logo{
    font-size:30px;
}

.top-bar .search {
    margin-left:100px;
    border-radius: 4px;
    min-width:400px;
    border:1px solid #E2E2E8;
    font-size:20px;
    padding:.4em;
    color:@base-color;
}

.top-bar .search:focus{
    border:1px solid @base-color;
    outline: none;
}

.top-bar span {
    font-size:30px;
}